.hero{
    background-color: aqua;
}

.segunda{
    background-color: aquamarine;
}

.tercera{
    background-color:coral;
}

.cuarta{
    background-color: brown;
}

.quinta{
    background-color: blueviolet;
}

.secta{
    background-color: darkolivegreen;
}