@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather+Sans:wght@400;700&family=Pathway+Extreme:wght@400;700&display=swap');

*{
    padding: 0;
    margin:0;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
}

input::placeholder, textarea::placeholder{
    font-family: 'Merriweather Sans', sans-serif;
}

h1{
    font-family: 'Merriweather Sans', sans-serif;
    color: #A4581B;
    text-transform: uppercase;
}

header{
    height: 2rem;
    background-color:#854F24;
    font-size: small;
    padding-top: 1rem;
    color:white; 
    position: fixed;
    width: 100%;
}

.contenedorFlex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconos{
    display: flex;
}

.iconosTamaño{
    width: 1.3rem;
    height: 1.3rem;
}
.ig{
    padding-right: 1rem;
}

.borde{
    height: 100%;
    border-right: 0.2rem solid white;
}

a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.15rem;
}

.mover{
    padding-right: 1rem;
}

.wp{
    padding-left: 1rem;
}

/* HOVER */

button:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

a:hover{
    text-decoration: underline;
    transition: 0.8s;
}

.svgclase:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.imgHover:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.burger:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.burger{
    width: 1.5rem;
    height: 1.5rem;
}

/* HERO */

.hero{
    background-color:#F4F4F4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1080px;
}

.colorGris{
    color: #696466;
    font-size: small;
}

.primerParrafo{
     font-size: 1.2rem;
}

.primerTitulo{
    font-size: 3rem;
}

.izquierda{
    padding-left: 1rem;
}

.derecha{
    padding-left: 5rem;
    height: 100%;
}
.miFoto{
    height: 100%;
}
.paAbajo{
    padding-bottom: 2rem;
}
.botNegro{
    background-color: #201F20;
    color: white;
    text-transform: uppercase;
    font-weight: bold ;
    padding: 0.8rem 1.5rem;
    border: none;
}

/* Segunda Seccion */

.segunda{
    background-color: #ffffff;
    padding-bottom: 5rem;
    margin-right: 4rem;
}

.padding{
    padding: 2rem 0 1rem 4rem;
}

.texto{
   margin-right: 2rem;
}

.marron{
    color: #A4581B;
}

.lugar{
    padding: 1rem 0 1rem 4rem;
    margin-left: 4rem;
}

.linea{
    border: none;
    border-top: 1px solid gray;
    opacity: 0.3;
}

.upperCase{
    text-transform: uppercase;
}

.unRem{
    padding-bottom: 1rem;
}

.left{
    padding-left: 4rem;
    line-height: 1.5rem;
}
/* Tercera Seccion */

.tercera{
    background-color: #F9F9F9;
    margin: 0 4rem 0 4rem;
}

.masGrande{
    font-size: 3rem;
    color:#444448;
}

.otroGris{
    background-color: #F3F3F3;
}

.relleno{
    padding: 3rem 0 3rem 0;
}

.max{
    padding: 3rem 0 3rem 0;
}

.paArriba{
    padding-top: 1rem;
}

.spacing{
    letter-spacing: 0.2rem;
}

.centrar{
    text-align: center;
}

.logros{
    display:flex;
    justify-content: space-evenly;
}

/* Cuarta Seccion */

.cuarta{
    background-color: white;
    padding-bottom: 4rem;
}

.empuje{
    margin: 0 4rem 0 4rem;
}
.imagenesFlex{
    display:flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.bold {
    font-weight: bold;
    margin-top: 1rem;
}

.corazon {
    color: #9D6634;
    margin-right: 0.3rem;
}

.colocar{
    padding: 4rem 0 2rem 0;
}

.colocarLinea{
    padding-bottom: 2rem;
}

.ancho{
    width: 100%;
}

.margin{ 
    margin: 0 1rem;
}
.space{
    justify-content: space-between;
}

/* Quinta seccion */

.quinta{
    background-color: #F9F9F9;
    padding: 4rem 0 4rem 0;
}

.contenedorFlexDos{
    display: flex;
    justify-content: space-between;
}

.uno{
    width: 100%;
    margin-top: 1rem;
}

.track{
    width: 100%;
    background-color: #EBEBEC;
    height: 0.3rem;
    margin-top: 0.2rem;
}

.dos{
    background-color: #A4581B;
    width: 60%;
    height: 0.3rem;
}

.probando{
    display: flex;
    justify-content: space-between;
}

.background{
    background-color: #EBEBEC;
    font-size:x-small;
}

.leftDos{
    width: 50%;
}

.right{
    padding-right: 4rem;
    width: 50%;
    padding-left: 3rem;
}

.pt2{
    margin-top: 2rem;
}

.column{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.color{
    color: black;
}

.pl{
    padding-left: 1rem;
}

.size{
    width: 1.5rem;
    height: 1.5rem;
}
.pr{
    padding-right: 1rem;
}
.pb{
    padding-bottom: 2rem;
}

.mt{
    margin-top: 5rem;
}

.flexMas{
    display: flex;
}

.adentro{
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.bottomUno{
    padding-bottom: 1rem;
}

.mb{
    margin-top: 2rem;
}
circle{
    fill: none;
    stroke: #EBEBEC;
    stroke-width: 5px;
    stroke-dasharray: 100 100;
    transform-origin: 50%;
    transform: rotate(-90deg);
}

circle:nth-child(2){
    stroke: #A4581B;
    stroke-dasharray: var(--porcentaje) 100;
}

.circulo{
    position: relative;
}

.circulo span{
    position: absolute;
    top:0%;
    bottom:0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: #201F20;
}

.cuadradoFlex{
    display: flex;
}

.columnadoUno{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 3rem;
}

.gris{
    color: #696466;
}

.columnadoDos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3rem;
}
.cuadrado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posicion{
    margin: 0 4rem 0 4rem;
    padding-bottom: 2rem;
}


/* Secta seccion */

.secta{
    padding-bottom: 4rem;
    background-color: #854F24;

}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dobleTop{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
.top{
   margin-top: 3rem;
   padding-bottom: 1.5rem;
}
.fondo{
    background-color: #854F24;
}
.blancoFont{
    color: white;
}

.blancoFondo{
    background-color: #FFFFFF;
}

.contenedorInput{
    width: 42rem;
}

.primerInput{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
 
.veinte{
    width: 50%;
    height: 2rem;
} 

.marginLeft{
    margin-left: 0.4rem;
}
.segundoInput{
    width: 100%;
    height: 2rem; 
    margin-bottom: 0.5rem;
    border: none;
}

.tercerInput{
    width: 100% ;
    height: 10rem;
    margin-top: 0.5rem;
}
.botNegros{
    background-color: #201F20;
    color: white;
    font-weight: bold ;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
}

.botMarron{
    background-color: #9D6634;
    color: white;
    padding: 0.6rem 1.5rem;
    align-items: center;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.paTodo{
    padding: 5rem 2rem 0 2rem;
    text-align: center; 
}

  /* MEDIA QUERIES */
@media(min-width:761px){
    .burger{
        display: none;
    }
}

@media(max-width:1160px){
    .hero{
        height: 100%;
    }
}

@media(max-width:1024px){
    .contenedorFlexDos{
        display:flex;
        flex-direction: column;
    }
}

@media (min-width:760px) and (max-width:1024px){
    .notLinea{
        display: none;
    }
    .centrado{
        align-items: center;
    }
    .sinPadding{
        padding: 0;
    }
    .ptResponsive {
        margin-top: 3rem;
    }
        }

@media(max-width:760px){
    .derecha {
            display: none;
        }
    .imagenesFlex{
        display:flex;
        flex-direction: column;
    }
    .contenedorInput{
        width: 20rem;
    }
    .contenedorFlexDos{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .menu, .iconos{
        display:none;  
    }
    .anchoPorcentajes{
        width: 20rem;
    }
    .cuarta .imagenesFlex img{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .cuadradoFlex{
        display: flex;
        flex-direction: column;
    }
    .centrado{
        align-items: center;
    }

    .sinMargin{
        margin: 0 auto;
    }
    .conMargin{
        margin-top: 1rem;
    }
    .sinPadding{
        padding: 0;
    }
    .marginRight{
        margin-right: 5rem;
    }
    .marginRightUno{
        margin-right: 3rem;
    }
    .paddingLeft{
        padding-left: 2rem;
    }
    .notLinea{
        display:none;
    }
    .ptResponsive{
        margin-top: 3rem;
    }
    .sizeResponsive{
        width: 2rem;
        height: 2rem;
    }
    .pr{
        width: 250px;
    }
}
@media(max-width:420px){
    .not{
        display: none;
    }
    .ml{
        margin-left: 2rem;
    }
}