*{
    padding: 0;
    margin:0;
}

header{
    height: 2rem;
    
}

.contenedorFlex{
    display: flex;
    justify-content: space-evenly;
}

.hero{
    background-color: aqua;
    display: flex;
    align-items: center;
}

.segunda{
    background-color: aquamarine;
}

.linea{
    border: none;
    border-top: 1px solid gray;
    opacity: 0.3;
}

.tercera{
    background-color:coral;
}

.cuarta{
    background-color: brown;
}

.imagenesFlex{
    display:flex;
    width: auto;
}

.quinta{
    background-color: blueviolet;
}

.secta{
    background-color: darkolivegreen;
}